@use './abstract/variables' as *;
@use './abstract/mixins' as *;

.tip-display {
    flex: 1;
    height: 100%;
    padding: 3rem;
    background-color: $very-dark-cyan;
    border-radius: radius(lg);
}
