*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  background-color: #c5e4e7;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 2rem;
  font-family: inherit;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #26c0ab;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: transparent;
}

.error-border {
  outline: none;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #f15f5f;
}

.error-msg {
  display: block;
  color: #f15f5f;
}

.border-green:focus-within {
  box-shadow: 0 0 0 3px white, 0 0 0 6px #26c0ab;
  border-radius: 3px;
}

.border-red {
  box-shadow: 0 0 0 3px white, 0 0 0 6px #f15f5f;
  border-radius: 3px;
}

.header {
  margin-bottom: 4rem;
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #00494d;
  text-align: center;
}

.tip-box {
  width: 97%;
  background-color: white;
  color: #5e7a7d;
  font-weight: 700;
  border-radius: 20px;
  padding: 2rem;
}
@media screen and (min-width: 680px) {
  .tip-box {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
}
@media screen and (min-width: 680px) {
  .tip-box .left {
    width: 50%;
  }
}
.tip-box .left .form-group:last-child {
  margin-bottom: 2rem;
}
.tip-box .left .form-group__form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.tip-box .left .form-group__form-label .msg {
  display: none;
}
.tip-box .left .form-group__form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
  background-color: #f4fafa;
}
.tip-box .left .form-group__form-control .image-box {
  height: 1.2rem;
}
.tip-box .left .form-group__form-control .image-box img {
  width: 100%;
  height: 100%;
}
.tip-box .left .form-group__form-control input {
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
  text-align: right;
  background-color: #f4fafa;
  color: #00494d;
  border: none;
  outline: none;
  flex: 1;
}
.tip-box .left .btn-box {
  margin: 1rem 0;
}
.tip-box .left .btn-box__header {
  margin-bottom: 1rem;
}
.tip-box .left .btn-box__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 680px) {
  .tip-box .left .btn-box__btns {
    grid-template-columns: repeat(3, 1fr);
  }
}
.tip-box .left .btn-box__btns .tip-btn {
  background-color: #00494d;
  padding: 6px 0;
  width: 20rem;
  color: white;
  font-weight: 700;
  transition: 200ms ease-in-out;
}
.tip-box .left .btn-box__btns .tip-btn:hover {
  background-color: #a5eee5;
  color: #00494d;
}
.tip-box .left .btn-box__btns .tip-btn:focus {
  background-color: #26c0ab;
}
@media screen and (min-width: 680px) {
  .tip-box .left .btn-box__btns .tip-btn {
    width: 12rem;
  }
}
.tip-box .left .btn-box__btns .custom-input {
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
  text-align: right;
  background-color: #f4fafa;
  color: #00494d;
  border: none;
  outline: none;
  width: 20rem;
}
.tip-box .left .btn-box__btns .custom-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #26c0ab;
  border-radius: 3px;
}
@media screen and (min-width: 680px) {
  .tip-box .left .btn-box__btns .custom-input {
    width: 12rem;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  padding: 3rem;
  background-color: #00494d;
  border-radius: 20px;
  color: white;
}
@media screen and (min-width: 680px) {
  .right {
    width: 50%;
  }
}
.right .tip-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}
.right .tip-amount:first-child {
  margin-bottom: 3rem;
}
.right .tip-amount span:not(.amount) {
  font-size: 1rem;
  color: #7f9c9f;
}
.right .tip-amount .amount {
  font-size: 4rem;
  font-weight: 700;
  padding-left: 1rem;
  color: #26c0ab;
}
.right .display-btn {
  padding: 0.8rem 0;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #26c0ab;
  color: #00494d;
  transition: 200ms ease-in-out;
}
.right .display-btn:hover {
  background-color: #a5eee5;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 10rem;
  width: 100%;
}
.footer a {
  text-decoration: underline;
  font-weight: 700;
  color: #5e7a7d;
}

/*# sourceMappingURL=main.css.map */
