$primary: hsl(172, 67%, 45%);
$primary-light: hsl(172, 69%, 79%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$dark-grayish-cyan-second: hsl(184, 14%, 56%);
$light-grayish-cyan-background: hsl(185, 41%, 84%);
$light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$error: hsl(0, 84%, 66%);

$border-radius: (
    'sm': 3px,
    'md': 10px,
    'lg': 20px,
);
